.deps
.libs
*.la
*.lo
*.moc
Makefile
Makefile.in
stress-poppler-qt4
test-poppler-qt4
test-password-qt4
poppler-attachments
poppler-fonts
check_attachments
check_dateConversion
check_fonts
check_metadata
check_permissions
check_pagelayout
check_pagemode

